@mixin font($color,$fontW){
	color: red;
	font-size: 18px;
	font-weight: bold;
	color:$color;
	font-weight: $fontW;
}

@mixin padd($padd...){
	padding: $padd;
}

@mixin link($link,$hover,$active,$visited){
	color:$link;
	&:hover{
		color:lighten($link,5%);
	}
	&:active{
		color:$active;
	}
	&:visited{
		color:$visited;
	}
	
}


@mixin grid($cols,$margin){
	float: left;
	background: red;
	margin-right: $margin;
	margin-bottom: $margin;
	height: 150px;

	width: ((100%-((3-1)*$margin))/$cols);
}


@mixin backG($backGrC){
	background-color: $backGrC;
	font-size: 40px;
	color:white;
}


@mixin nice-button{
	border:none;
	outline: none;
	cursor: pointer;
	background-color: #EC4825;
	color:#E3D0CD;
	border-radius: 15px;
	padding:5px 10px;
	font-size: 15px;
}